*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    /* height: 100%; */
    width: 100%;
    overflow-x: hidden;
}
.page1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
}


.page2{
    height: 100vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    height: 300px;
    width: 300px;
    background-color: red;
}
.page3{
    height: 100vh;
    width: 100%;
    background-color: black;
}
h1{
    font-size: 150px;
    font-weight: 500;
}