*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  background-color: black;
}
.main{
  height: 100vh;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}