*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width:100vw;
    background-color: black;
}
section{
    height: 100vh;
    width:100vw;
    background-color: aliceblue;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}
.todo{
    position: relative;
    min-height:250px;
    width:500px;
    border: 2px solid black;
    box-shadow: 10px 10px 0px blue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.task{
    /* position: absolute; */
    height: 50px;
    width: 350px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.task input{
    height: 100%;
    width: 75%;
    border: none;
    padding-left: 15px;
    font-size: 20px;
}
.task button{
    height: 100%;
    width:20%;
    background-color: black;
    color: white;
}
input:focus{
    outline: none;
    border-bottom-style:solid;
    border-bottom-width: 2px;
    border-bottom-color:black;
}
input::placeholder{
    text-transform: uppercase;
    color: black;
    font-size: 15px;
}
.showtask{
    margin-top: 10px;
    width:90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap:5px;
}
.addtask{
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items:center;
    justify-content: space-between;
    color: white;
    cursor: pointer;
}
p{
    padding:0px 25px;
    color:white;
    text-transform: uppercase;
}
.del{
    height: 100%;
    width:20%;
    background-color: white;
    display: flex;
    align-items:center;
    justify-content: center;
}
.del i{
    color:black;
    font-size: 20px;
}