.main_form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.formdiv{
    height: 100%;
    width: 100%;
}
.in{
    padding:10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 45%;
}
input{
    height: 35px;
    border-radius: 20px;
    width: 80%;
    border:2px solid RGB(253, 168, 1);
    padding-left: 15px;
    margin-top: 2%;
}
input:focus{
    outline: 2px solid RGB(253, 168, 1);
    border: none;
}
.title{
    font-family: "Press Start 2P", cursive;
    font-size: 20px;
    text-transform: capitalize;
    color: white;
}
.submit{
    font-family: "Press Start 2P", cursive;
    font-size: 22px;
    color: white;
    padding:5px 8%;
    background-color: RGB(253, 168, 1);
    transition: all 1s;
}
.error{
    margin-top: 3%;
    color: red;
    font-size:15px;
}
.submit:hover{
    background-color: red;
}

