*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    background-color: rgb(246, 27, 11);
}
.title{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title h1 {
    text-transform: uppercase;
      font-family: 'THE AMAZING SPIDER-MAN', sans-serif;
      color: black;
      letter-spacing: 0;
      font-size: 4rem;
      -webkit-text-stroke-color: white;
      -webkit-text-stroke-width: 0.1px;
    }
.main{
    margin-top: 1%;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(5, 59, 120);
    border-radius: 25px;
    box-shadow: 5px 5px 8px gray;
    border: 2px solid white;
    /* margin-right: 5%; */
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 480px;
    width: 475px;
    position: relative;
    border-radius: 25px;
}
.top .slide{
    background-color: red;
    height: 500px;
    width: 475px;
    flex: 0 0 auto;
    position: absolute;
    transform: translateX(0);
    transition: transform 1s ease;
}
.slide.active{
    transform: translateX(0);
}
.slide:nth-child(1){
    background-color: red;
}
.slide:nth-child(2){
    background-color: green;
}
.slide:nth-child(3){
    background-color: blue;
}
.bottom{
    height: 205px;
    width: 475px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    border-radius: 25px;
}
.prevbtn,.nextbtn{
    height: 50%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
    border: 2px solid white;
}
.prevbtn{
    border-top-left-radius: 100%;
}
.nextbtn{
    border-top-right-radius: 100%;
}
.mini_slides{
    height: 170px;
    width: 180px;
    display: flex;
    overflow: hidden;
    position: relative;
}
.minislide{
    height: 100%;
    width: 180px;
    flex-shrink: 0;
    position: absolute;
    top:0;
    left:0;
    transform: translate(0);
    transition: transform 1s;
    border: 2px solid white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.minislide.active{
    transform: translate(0);
}
.minislide:nth-child(1){
    height: 100%;
    width: 180px;
    background-color: red;
}
.minislide:nth-child(2){
    height: 100%;
    width: 180px;
    background-color: green;
}
.minislide:nth-child(3){
    height: 100%;
    width: 180px;
    background-color: blue;
}
.iconr,.iconl{
    position: absolute;
    top:60%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    color: white;
}
img{
    position: absolute;
    top:0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-size: contain;
}
.minislide img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.iconr{
    left:38%;
}
.iconl{
    right:8%;
}
.minislide.exit-right{
    transform: translateX(100%);
}
.minislide.exit-left{
    transform: translateX(-100%);
}
.minislide.entry-right{
    transform: translateX(100%);
}
.minislide.entry-left{
    transform: translateX(-100%);
}
.slide.exit-right{
    transform: translateX(100%);
}
.slide.exit-left{
    transform: translateX(-100%);
}
.slide.entry-right{
    transform: translateX(100%);
}
.slide.entry-left{
    transform: translateX(-100%);
}